:root {
    --main-color: #efd62f;
    --main-color-opacity: #efd62f17;
    --body-color: #fffef7;
    --light-color: #fff8c8;
    --border-header: #d5bf2a;
    --active-text-color: #baac4d;
    --hover-text-color: #8097a5;

}
