:root {
    --main-color: #363d4a;
    --main-color-opacity: #363d4a17;
    --body-color: #fbfbfb;
    --light-color: #8c8d90;
    --border-header: #424955;
    --active-text-color: #94a4c2;
    --hover-text-color: #fff;
}
