:root {
    --main-color: #f62d51;
    --main-color-opacity: #f62d5117;
    --body-color: #fffbfb;
    --light-color: #ffeeee;
    --border-header: #f24766;
    --active-text-color: #ffafbd;
    --hover-text-color: #8097a5;

}
