:root {
    --main-color: #840fb5;
    --main-color-opacity: #840fb517;
    --body-color: #faf5ff;
    --light-color: #ecc0ff;
    --border-header: #a31add;
    --active-text-color: #e29eff;
    --hover-text-color: #76189e;

}
