:root {
    --main-color: #01c0c8;
    --main-color-opacity: #01c0c817;
    --body-color: #faffff;
    --light-color: #eaffff;
    --border-header: #2fcfd5;
    --active-text-color: #84faff;
    --hover-text-color: #8097a5;

}
