:root {
    --main-color: #318f94 ;
    --main-color-opacity: #318f9417 ;
    --body-color: #faffff;
    --light-color: #def7f7;
    --border-header: #227b80;
    --active-text-color: #83f8ff;
    --hover-text-color: #8097a5;
}
