:root {
    --main-color: #660fb5;
    --main-color-opacity: #660fb517;
    --body-color: #fafaff;
    --light-color: #eaf1ff;
    --border-header: #761ac9;
    --active-text-color: #c795f5;
    --hover-text-color: #8097a5;

}
