@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/IRANSansWeb(FaNum)_Light.eot');
    src: url('/fonts/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('/fonts/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/IRANSansWeb(FaNum)_Light.acwoff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

* {
    font-family: IRANSans ,"Source Sans Pro", "Roboto", Arial, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, header, nav, div, a, p{
    font-family: IRANSans, cursive, Arial;
    font-size: 16px !important;
    text-align: right;
    direction: rtl;
}

:root {
    --main-font: "Ubuntu", sans-serif;
    --border-color: #f3f0f0;
    --card-box: 3px 3px 9px 2px var(--border-color);
    --bg-header: var(--main-color);
    --text-header: #fff;
    --input-bg-color: #f7f7f7;
    --text-color-dark: #333;
    --border-input: #c5c5c5;
    --gray: #777;
    --gray-light: #f1f1f1;
    --select-back: #eeeeee;
    --validate-error: #ff0000;
    --grey-1: #898989;
    --grey-2: #f1f1f1;
    --grey-3: #b8b8b8;

}

.body-main{
    background-color: var(--body-color) !important;
}

.dropdown-menu.show {
    -webkit-animation: fadeIn 0.3s alternate;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
    position: static;
}
.nav-item.dropdown.dropdown-mega .dropdown-menu {
    width: 90%;
    top: auto;
    left: 5%;
}

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right;
}
.navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none;
}
.navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 4px;
    position: absolute;
    background: #333;
    border-radius: 2px;
    z-index: 1;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
    left: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0px;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%;
}
.navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg);
}

.icons {
    display: inline-flex;
    margin-left: auto;
}
.icons a {
    transition: all 0.2s ease-in-out;
    padding: 0.2rem 0.4rem;
    color: #ccc !important;
    text-decoration: none;
}
.icons a:hover {
    color: white;
    text-shadow: 0 0 30px white;
}

.nav-link , .navbar-brand{
    color: var(--text-header) !important;
}

.bg-header{
    background-color: var(--bg-header);
}
/* menu classes */

.navbar .navbar-nav .nav-link.active{
    /*border-bottom: 2px solid var(--main-color);*/
    color: var(--main-color) !important;
    font-weight: bold;
}
.navbar .navbar-nav .nav-item.active{
    background: var(--light-color);
    border-left: solid 2px var(--active-text-color);
    border-right: solid 2px var(--active-text-color);
    /*border-radius: 0px !important;*/
}

.nav-item{
    padding: 8px;
    border-left: 1px solid var(--border-header);
    /*border-radius: 10px;*/
}

.nav-item:hover{
    /*background: var(--light-color);*/
    /*border-left: solid 1px var(--active-text-color);*/
    /*border-right: solid 1px var(--active-text-color);*/

}

.nav-item:hover > .nav-link{
    color: var(--active-text-color) !important;
    font-weight: bold;
}

.nav-link{
    cursor: pointer !important;
    /*margin: 13px !important;*/
    /*padding: 13px;*/
}

.nav-header-bar{
    margin-right: 100px !important;
    /*border: 1px solid #f3f0f0 !important;*/
    /*border-left: none !important;*/
}

.nav-border-bottom{
    /*border-bottom: solid 2px var(--main-color);*/
}

.title-size{
    font-size: 20px !important;
    font-weight: bold;
    /*color: var(--main-color);*/
}

.header-custom{
    /*background-color: var(--body-color);*/
    background-color: white;
    border-bottom: 1px ridge;
}

.radius-0{
    border-radius: 0 !important;
}

.card-body{
    border-color: var(--border-color);
    box-shadow: var(--card-box) !important;
    border-radius: 0 0 10px 10px !important;

}

.card-header{
    border-color: var(--border-color);
    box-shadow: var(--card-box) !important;
    border-radius: 10px 10px 0px 0px !important;
}

.topbar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 500;
}

.page-wrapper{
    margin-top: 120px;
}
.display-exit{
    display: none !important;
}
/* mobile responsive */
@media (max-width: 990px) {
    .container, .container-md, .container-sm {
        max-width: 846px;
    }
    .nav-mobile{
        display: none;
    }
    .display-exit{
        display: block !important;
    }
    .nav-link{
        border: none !important;
        border-radius: 0px;
        margin: 5px !important;
        padding: 5px;
    }
    .nav-header-bar{
        margin-right: 0px !important;
        border: none !important;
    }
    .page-wrapper{
        margin-top: 94px;
    }

    .margin-container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
.card-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--body-color);
    border-top: solid 1px var(--main-color);
    padding: 9px 0;
    border-radius: 0;
    z-index: 500;
}

/*profile box*/
.navbar-nav {
    padding: 0px;
    /*outline: none;*/
}
.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 17px;
    line-height: 50px;
}

.topbar .profile-pic {
    width: 30px;
    border-radius: 100%;
}

.topbar .dropdown-menu {
    box-shadow: 0 3px 12px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0 3px 12px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    border-color: rgba(120, 130, 140, 0.13);
}

.menu-side-language {
    left: 0 !important;
    right: auto !important;
}

.dropdown-menu {
    text-align: right;
}

.flipInY {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.topbar ul.dropdown-user {
    padding: 0px;
    width: 270px;
}

.topbar ul.dropdown-user li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.topbar ul.dropdown-user li .dw-user-box {
    padding: 10px 15px;
}

.topbar ul.dropdown-user li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
}

.topbar ul.dropdown-user li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.topbar ul.dropdown-user li .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
}

.topbar ul.dropdown-user li .dw-user-box .u-img {
    width: 80px;
    display: inline-block;
    vertical-align: top;
}

.arrow-btn:before {
    content: '\f2ee';
    position: absolute;
    top: 17px;
    right: 32px;
    font-family: Material-Design-Iconic-Font;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-size: 13px;
}

.btn{
    padding: 0;
    border: none;
    display: inline-flex;
    height: 46px;
    width: 146px;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 33px;
    padding-right: 10px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 23px;
    /*margin-top: 10px;*/
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn-main-color-light,.btn-main-color {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--body-color);
}

.signup-form .btn-main-color.previous ,.btn-main-color-light{
    /*color: var(--text-color-dark) !important;*/
    opacity: 0.4 !important;
    font-weight: bolder;
}

.signup-form .btn-main-color.next:hover,.btn-main-color:hover {
    color: #fff;
    background-color: var(--main-color);
    opacity: 0.7;
}
.signup-form .btn-main-color.previous:hover ,.btn-main-color-light:hover {
    opacity: 0.7 !important;
    color: #fff;
}

.btn-outline-main-color:focus {
    box-shadow: 0 0 0 0.25rem var(--main-color);
}
.btn-outline-main-color:hover {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--body-color);
}
.btn-outline-main-color {
    color: var(--main-color);
    border-color: var(--main-color);
}
/* dorop down profile left */
.topbar .dropdown-menu {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    border-color: rgba(120, 130, 140, 0.13); }
.topbar .dropdown-menu .dropdown-item {
    padding: 7px 1.5rem; }
.topbar ul.dropdown-user {
    padding: 0px;
    width: 270px; }
.topbar ul.dropdown-user li {
    list-style: none;
    padding: 0px;
    margin: 0px; }
.topbar ul.dropdown-user li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13); }
.topbar ul.dropdown-user li .dw-user-box {
    padding: 10px 15px; }
.topbar ul.dropdown-user li .dw-user-box .u-img {
    width: 80px;
    display: inline-block;
    vertical-align: top; }
.topbar ul.dropdown-user li .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px; }
.topbar ul.dropdown-user li .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px; }
.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
    margin: 0px; }
.topbar ul.dropdown-user li .dw-user-box .u-text p {
    margin-bottom: 2px;
    font-size: 14px; }
.topbar ul.dropdown-user li .dw-user-box .u-text .btn {
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block; }

.topbar ul.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #54667a; }
.topbar ul.dropdown-user li .light-drop:hover {
    background: var(--light-color);
    color: var(--hover-text-color);
    text-decoration: none; }

.margin-container{
    padding-right: 44px;
    padding-left: 44px;
}

.form-header {
    display: flex;
}
.form-holder {
    position: relative;
    padding-right: 26px;
    margin-bottom: 25px;
}

.form-control {
    height: 46px;
    border: 1px solid var(--border-input);
    background: var(--input-bg-color);
    width: 100%;
    padding: 0 25px;
    border-radius: 23px;
    color: var(--text-color-dark);
}
input, textarea, select, button {
    font-size: 13px;
}
.form-holder.active:before {
    background: var(--main-color);
}
.form-holder:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-holder.active:before {
    background: var(--main-color);
}

.form-control:focus-visible,.form-control:focus {
    color: var(--text-color-dark);
    background-color: var(--input-bg-color);
    outline: 0;
    box-shadow: none;
}

a{
    text-decoration: none;
}

.d-none{
    display: none;
}
.title-type-celebrate{
    font-size: 16px;
    margin-bottom: 28px;
    font-weight: bold;
}

.badge-main-color {
    background-color: var(--main-color);
}

.badge-main-light-color {
    background-color: var(--light-color);
}

.text-main-color{
    color: var(--main-color) !important;
}
.text-light-color{
    color: var(--light-color) !important;
}

.form-check-input {
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    background-color: #fff;
    border: 0.125rem solid #757575;
}

.form-check-input[type=checkbox]:checked {
    /*background-image: none;*/
    background-color: var(--main-color);
    border-color: var(--hover-text-color);
}

.form-check .form-check-input {
    float: left;
    margin-left: -2.2em;
}

textarea.form-control {
    height: auto !important;
}

.box-design{
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    margin: 3.5em;
    flex: 0 0 150px;
    padding: 0px;
    border-radius: 6px;
    /*flex: 0 0 17.3vw;*/
    height: 17.3vw;
    /*display: block;*/
    background: #fff;
    transition: all 300ms;
    color: #555;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.img-top-box{
    padding: 21px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    overflow: hidden;
    border-radius: 121px;
}
.border-bottom-light-color{
    border-bottom: 1px solid var(--light-color);
}

.card-image-item {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    float: none!important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0;
    padding: 10px;
}
@media (min-width: 768px) {
    /*.card-image-item {*/
    /*    padding: 5px !important;*/
    /*    margin-bottom: 0;*/
    /*    -webkit-transform: rotate(-1deg);*/
    /*    -moz-transform: rotate(-1deg);*/
    /*    -ms-transform: rotate(-1deg);*/
    /*    -o-transform: rotate(-1deg);*/
    /*    transform: rotate(-1deg);*/
    /*}*/
    /*.card-image-item:nth-child(5n+0) {*/
    /*    -webkit-transform: rotate(-3deg);*/
    /*    -moz-transform: rotate(-3deg);*/
    /*    -ms-transform: rotate(-3deg);*/
    /*    -o-transform: rotate(-3deg);*/
    /*    transform: rotate(-3deg);*/
    /*}*/
    /*.card-image-item:nth-child(3n+0) {*/
    /*    -webkit-transform: rotate(2deg);*/
    /*    -moz-transform: rotate(2deg);*/
    /*    -ms-transform: rotate(2deg);*/
    /*    -o-transform: rotate(2deg);*/
    /*    transform: rotate(2deg);*/
    /*}*/
    /*.card-image-item:nth-child(6n+0) {*/
    /*    -webkit-transform: rotate(3deg);*/
    /*    -moz-transform: rotate(3deg);*/
    /*    -ms-transform: rotate(3deg);*/
    /*    -o-transform: rotate(3deg);*/
    /*    transform: rotate(3deg);*/
    /*}*/

    .card-image-item:hover, .card-image-item .active-box {
        -webkit-transform: rotate(0deg) scale(1.1);
        -moz-transform: rotate(0deg) scale(1.1);
        -ms-transform: rotate(0deg) scale(1.1);
        -o-transform: rotate(0deg) scale(1.1);
        transform: rotate(0deg) scale(1.1);
        z-index: 99;
    }
}
.card-image-item .box-card-design {
    display: block;
    position: relative;
    padding: 8px;
    background: #f1f1f1;
    color: #111111;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card-image-item .box-card-design:hover, .card-image-item .active-box {
    text-decoration: none;
    background: #ffffff;
    border: 1px solid #ccc;
}
.card-image-item .box-card-design:hover .picture-legend:before, .card-image-item .active-box .picture-legend:before , .card-image-item .active-box {
    border-color: var(--main-color);
}
.card-image-item .box-card-design:hover .picture-legend:after, .card-image-item .active-box .picture-legend:after {
    border-color: var(--main-color);
}

.card-image-item .mask {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 222;
    background: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card-image-item img {
    position: relative;
    z-index: 8;
}
.picture-legend {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-weight: 200;
    font-size: 28px;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.picture-legend:before {
    content: '';
    display: block;
    height: 1px;
    border-top: 2px solid #cccccc;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 3px;
    margin-top: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.picture-legend:after {
    content: '';
    display: block;
    height: 1px;
    border-top: 2px solid #cccccc;
    width: 10%;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.name-card,.name-card p, .select-radio-card{
    font-size: 12px !important;
    color: var(--bs-gray);
}

.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.name-card p{
    line-height: 0;
}
.name-card b{
    font-weight: bold !important;
}
.radio-form{
    margin-left: 10px !important;
    margin-top: 11px;
}
.form-control .active , .form-control option:hover{
    background-color: var(--active-text-color) !important;
}

.headline-text:before {
    border-top: 2px dashed #000000;
    display: block;
    position: relative;
    top: 15px;
    margin: 0 auto;
    width: 84%;
    content: "";
    margin-right: 158px;
}

.title-layouts{
    margin-right: 26px;
    font-size: 20px !important;
    font-weight: bold;
}

.bg-grey{
    background-color: var(--gray);
}

.bg-Main-color{
    background-color: var(--main-color);
}

.bg-Main-color-light{
    background-color: var(--light-color);
}

.bg-gray-light{
    background-color: var(--gray-light);
    color: var(--bs-gray);
}
.alert-main-color-light{
    color: var(--main-color);
    background-color: var(--light-color);
    border-color: var(--active-text-color);
}
.alert-main-color{
    color: var(--light-color);
    background-color: var(--main-color);
    border-color: var(--border-header);
}
.select-place-holder{
    color: var(--bs-gray) !important;
    font-size: 14px;
    background-color: var(--select-back);
}
label.error, span.error {
    position: absolute;
    right: -7px;
    font-size: 15px;
    color: var(--validate-error);
    top: -27px;
}
span.error {
    right: 14px!important;
}
select.error, input.error {
    border: 1px solid var(--validate-error);
}

.card-grid .name-card p {
    line-height: 1;
}

.card-grid .card-image-item {
    padding: 0 !important;
}

.card-grid .text-title-card span{
    font-size: 22px !important;
    font-weight: bold;
}

element.style {
}
.card-grid .card-celebrate-label {
    font-size: 10px !important;
    color: var(--main-color);
    margin-bottom: 7px;
    position: absolute;
    right: -1px;
    top: -9px;
    background-color: var(--light-color);
}
.button-card-footer{
    display: inline-flex !important;
}
.btn-sm-main{
    height: auto !important;
    width: auto !important;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 23px;
    padding-right: 6px;
}
.pull-left{
    float: left !important;
}
.detail-card-show p{
    line-height: 1.5 !important;
}
.btn-pay{
    font-size: 10px !important;
}
.btn-pay:hover{
    color: var(--main-color) !important;
}
.search-box {
    background: #f1f1f1;
    padding: 16px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.search-box .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.search-box .input-field {
    position: relative;
    border-right: 1px solid #ddd;
}

.search-box .input-field .icon-wrap {
    position: absolute;
    top: 0;
    left: 6px;
    width: 40px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}
.search-box .input-field .form-control{
    /*height: 70px;*/
    background: #fff;
    border-radius: 0;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 20px 10px 45px;
    font-size: 16px;
    color: #555;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.search-box .input-field.second-wrap {
    min-width: 350px;
    max-width: 190px;
}

.btn-search:hover {
    background-color: var(--main-color);
    opacity: 0.7;
}

.btn-search {
    /*height: 70px;*/
    width: 100%;
    background: var(--main-color);
    white-space: nowrap;
    border-radius: 0.5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.alert-secondary {
    color: #41464b;
    background-color: var(--grey-2);
    border-color: #d3d6d8;
}

.border-right-none{
    border-right: none !important;
}
.radius-right{
    border-radius: 0 50px 50px 0 !important;
}
.radius-left{
    border-radius: 50px 0 0 50px!important;
}

@media screen and (max-width: 992px) {

    .search-box .input-field.second-wrap {
        min-width: 0;
        max-width: 0;
    }

    .radius-right{
        border-radius: 0 !important;
    }

    .radius-left{
        border-radius: 0;
    }

    .s002 form legend {
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;
    }
    .search-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .search-box .input-field {
        margin-bottom: 15px;
    }
    .search-box .input-field.first-wrap {
        width: 100%;
    }
    .search-box .input-field.second-wrap {
        width: calc(50% - 7.5px);
        max-width: none;
    }
    .search-box .input-field.third-wrap {
        width: calc(50% - 7.5px);
        max-width: none;
    }
    .search-box .input-field.fouth-wrap {
        width: calc(50% - 7.5px);
        max-width: none;
        margin-bottom: 0;
    }
    .search-box .input-field.fifth-wrap {
        width: calc(50% - 7.5px);
        max-width: none;
        padding-left: 0;
        /*margin-bottom: 0;*/
    }
}

@media screen and (max-width: 767px) {
    .search-box legend {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .search-box .input-field.second-wrap, .search-box .input-field.third-wrap, .search-box .input-field.fouth-wrap, .search-box .input-field.fifth-wrap {
        width: 100%;
        margin-bottom: 15px;
    }
    .search-box .input-field.fifth-wrap {
        margin-bottom: 0;
    }
}

.footable .pagination {
    display: inline-block;
    padding: 8px 0; }
.footable .pagination li {
    padding: 0px;
    margin: 0 1px;
    display: inline-block; }
.footable .pagination li a {
    padding: 5px 10px; }
.footable .pagination li a:hover, .footable .pagination li a.active {
    background: var(--main-color);
    color: #ffffff;
    border-radius: 4px; }
.footable .pagination li.active a {
    color: #ffffff;
    border-radius: 4px; }

.footable-odd {
    background: #f2f7f8; }

.footable-page.active a{
    background-color: var(--main-color);
}
.footable-page a:hover{
    background-color: var(--main-color) !important;
}
.footable-page a , .footable-page-arrow a{
    color: var(--main-color);
}
.badge{
    font-size: 9px !important;
}

.none-text-decoration{
    text-decoration: none !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--main-color);
    background-color: var(--light-color) !important;
}

.edit-color{
    color: var(--blue) !important;
}
.delete-color{
    color: var(--red) !important;
}
.message-color{
    color: var(--yellow) !important;
}

.dropdown-menu.card-button li a{
    font-size: 13px !important;
    color: var(--grey-1) !important;
}
.copied{
    font-size: 11px !important;
    position: relative;
    right: 6px;
    top: -2px;
    background: #fcffd2;
    padding: 3px 2px 2px 2px;
    border-radius: 2px;
    border: solid 1px #c7c7c7;
    box-shadow: 1px 3px 8px 1px #cdcdcd;
    color: #5c5757;
}
.table-design{
    border-radius: 10px !important;
    border: 1px solid #d8d8d8 !important;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--main-color-opacity);
    color: var(--grey-1);
}
.table, tbody, tr {
    color: var(--grey-1);
    font-size: 14px;
}

.table , th, tr{
    text-align: right !important;
    color: var(--grey-1);
    font-size: 14px;
}

.btn-close{
    margin: inherit !important;
}

.mt-xxxl-modal{
    margin-top: 5rem!important
}

.badge-new-class{
    right: 3px;
    position: relative;
    top: -2px;
}

.top-message{
    position: absolute;
    top: 3px;
    left: 8px;
}

.number-message{
    position: relative;
    left: -2px;
}

.opacity-0-4{
    opacity: 0.4 !important;
}
/* message box */
.box-card-message{
    padding-top: 11px;
    border-radius: 0px 0px 10px 10px;
    padding-right: 7px;
}

.date-message-label{
    font-size: 12px;
    margin-top: 8px;
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    color: #90a4ae;
}

.chat-list {
    margin: 0px;
    padding: 0px; }
.chat-list li {
    list-style: none;
    margin-top: 30px; }
.chat-list li .chat-img {
    display: inline-block;
    width: 45px;
    vertical-align: top; }
.chat-list li .chat-img img {
    width: 45px;
    border-radius: 100%; }
.chat-list li .chat-content {
    width: calc(100% - 140px);
    display: inline-block;
    padding-left: 15px; }
.chat-list li .chat-content h5 {
    color: #90a4ae; }
.chat-list li .chat-content .box {
    display: inline-block;
    margin-bottom: 10px; }
.chat-list li .chat-time {
    display: inline-block;
    text-align: right;
    width: 80px;
    font-size: 13px;
    color: #90a4ae; }
.chat-list li.odd .chat-content {
    text-align: right;
    width: calc(100% - 90px); }
.chat-list li.odd .box {
    clear: both; }
.chat-list li.odd + .odd {
    margin-top: 0px; }
.chat-list li.reverse {
    text-align: right; }
.chat-list li.reverse .chat-time {
    text-align: left; }
.chat-list li.reverse .chat-content {
    padding-left: 0px;
    padding-right: 15px; }
.message-box ul li .drop-title {
    font-weight: 500;
    padding: 11px 20px 15px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13); }

.message-box ul li .nav-link {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding-top: 15px; }

.message-box .message-widget {
    position: relative; }
.message-box .message-widget a {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px; }
.message-box .message-widget a:hover {
    background: #f2f7f8; }
.message-box .message-widget a:last-child {
    border-bottom: 0px; }
.message-box .message-widget a div {
    white-space: normal; }
.message-box .message-widget a .user-img {
    width: 45px;
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0; }
.message-box .message-widget a .user-img img {
    width: 100%; }
.message-box .message-widget a .user-img .profile-status {
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    left: 33px;
    position: absolute;
    top: -1px;
    width: 10px; }
.message-box .message-widget a .user-img .online {
    background: #55ce63; }
.message-box .message-widget a .user-img .busy {
    background: #f62d51; }
.message-box .message-widget a .user-img .away {
    background: #ffbc34; }
.message-box .message-widget a .user-img .offline {
    background: #ffbc34; }
.message-box .message-widget a .mail-contnet {
    display: inline-block;
    width: 75%;
    vertical-align: middle; }
.message-box .message-widget a .mail-contnet h5 {
    margin: 5px 0px 0; }
.message-box .message-widget a .mail-contnet .mail-desc,
.message-box .message-widget a .mail-contnet .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #54667a;
    white-space: nowrap; }

    .message-date{
        position: absolute !important;
        left: 54px;
        text-align: left;
        top: 26px;
    }
/* message box */
.message-guest p{
    line-height: 1.4 !important;
    font-size: 15px !important;
}

.modal-header--sticky {
    position: sticky;
    top: 0;
    background-color: inherit; /* [1] */
    z-index: 1055; /* [2] */
}

/* Footer fixed to the bottom of the modal */
.modal-footer--sticky {
    position: sticky;
    bottom: 0;
    background-color: inherit; /* [1] */
    z-index: 1055; /* [2] */
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.mansonry img {
    width: 100%;
}
.mansonry-item {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    padding: 8px;
    float: none!important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0;
}

@media (min-width: 768px) {
    .mansonry-item {
        padding: 5px !important;
        margin-bottom: 0;
        -webkit-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    .mansonry-item:nth-child(5n+0) {
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    .mansonry-item:nth-child(3n+0) {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    .mansonry-item:nth-child(6n+0) {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    .mansonry-item:hover {
        -webkit-transform: rotate(0deg) scale(1.1);
        -moz-transform: rotate(0deg) scale(1.1);
        -ms-transform: rotate(0deg) scale(1.1);
        -o-transform: rotate(0deg) scale(1.1);
        transform: rotate(0deg) scale(1.1);
        z-index: 99;
    }
}
.mansonry-item a {
    display: block;
    position: relative;
    padding: 8px;
    background: #f1f1f1;
    color: #111111;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mansonry-item a:hover {
    text-decoration: none;
    background: #ffffff;
    border: 1px solid #ccc;
}
.mansonry-item a:hover .picture-legend:before {
    border-color: #d1837e;
}
.mansonry-item a:hover .picture-legend:after {
    border-color: #d1837e;
}
.mansonry-item .mask {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 222;
    background: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mansonry-item img {
    position: relative;
    z-index: 8;
}

.padding-container{
    padding-right: 14px !important;
    padding-left: 14px !important;
}

.style-box-holder{
    border: solid 1px var(--main-color) !important;
    padding: 40px;
    border-radius: 4px;
    padding-left: 73px;
    padding-right: 73px;
}

.style-label{
    position: absolute;
    font-size: 13px;
    background: white;
    padding: 4px;
    margin-top: -67px;
}

div > .style-label {
    vertical-align: middle;
    display: inline-block;
}

.intro-row{
    margin-top: 12px !important;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 30px;
}

.label-number{
    position: absolute;
    font-size: 17px !important;
    right: 82px;
    margin-top: 52px !important;
    border-radius: 50px;
    background: var(--light-color);
    width: 33px;
    color: var(--main-color);
}
.avatar-style{
    position: relative;
    width: 145%;
    top: -32px;
    left: 132px;
    text-align: center;
}
.label-upload{
    position: absolute;
    top: -20px;
    right: 75px;
    font-size: 12px !important;
}

.label-groom{
    /*right: 77px !important;*/
}
.label-bride{
    right: 73px !important;
}
.pull-right{
    float: right !important;
}
.card-celebrate-setting .form-check-label{
    position: relative;
    right: 25px;
}
.name-link {
    position: absolute !important;
    margin-top: 20px !important;
}
.logo-celebrate{
    width: 87px !important;
    position: relative;
    /*right: 40px;*/
}

.mb-xl-1 {
    margin-bottom: 5rem!important;
}

