body {
    text-align: left !important;
    direction: ltr !important;
}
.page-wrapper {
    margin-right: 0 !important;
    margin-left: 240px !important;
}

.side-theme{
    float: right !important;
}
.menu-side-language{
    right: 0 !important;
    left: auto !important;
}

.left-nav{
    margin-left: -15px !important;
}

.side-auto{
    margin-right: auto !important;
    margin-left: initial !important;
}

.right-nav{
    margin-right: 15px !important;
}
.close{
    float: right !important;
}

.modal-header{
    direction: rtl !important;
}
.rpanel-title span {
    float: right !important;
}

.footer {
    right: 0 !important;
    left: 240px !important;
}
.sidebar-nav .has-arrow::after {
    left: 14.2em !important;
}

.dropdown-user{
    text-align: left !important;
}

.dropdown-menu{
    text-align: left !important;
}

.table th {
    text-align: left !important;
}

.text-side-opposing{
    text-align: right !important;
}

.topbar .top-navbar .app-search .srh-btn {
    left: initial !important;
    right: 10px !important;

}



