body,h1,h2,h3,h4,h5,h6{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: right;
    direction:rtl;
}

.body-direction{
    direction: rtl !important;
}
@media (min-width: 992px) {
    .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-left {
        margin-left: 0 !important;
    }
    .rtl .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-left {
        margin-right: 0 !important;
        margin-left: auto !important;
    }
}

@media (min-width: 992px) {
    .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        margin-right: 0 !important;
    }
    .rtl .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        margin-right: 0 !important;
        margin-left: auto !important;
    }
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile {
    margin-left: 0;
    position: relative;
}
.nav-side{
    margin-right: -5.2rem;
}
.online-status{
    left: 18px !important;
    right: auto !important;
}


